{% load i18n %}
{% load static from staticfiles %}
<script type="text/javascript">
    /**
     * @brief Sección de variables comúnes
     *
     * @author Ing. Roldan Vargas (roldandvg at gmail.com)
     * @copyright GNU/GPLv2
     * @date 27-04-2016
     */

    /// URL de archivos estáticos
    var URL_STATIC_FILES = "{% static '' %}";

    /// URL para obtener datos del seniat
    var URL_GET_DATA_RIF = "{% url 'get_data_rif' %}";

    /// URL para validar el rif en los registros del SENIAT
    var URL_VALIDAR_RIF_SENIAT = "{% url 'validar_rif_seniat' %}";

    /// URL para cargar datos en un select
    var URL_CARGAR_SELECT = "{% url 'cargar_combo' %}";

    /// URL para actualizar combos anidados
    var URL_ACTUALIZAR_SELECT = "{% url 'actualizar_combo' %}";

    /// URL para eliminar registros
    var URL_ELIMINAR_REGISTRO = "{% url 'eliminar_registro' %}";

    /// URL para obtener el directorio
    var URL_GET_DIRECTORIO = "{% url 'get_directorio' %}";

    /// Año de registro inicial
    var ANHO_REGISTRO_INICIAL = 2010;

    /// Opción inicial de los campos tipo Selec
    var SELECT_INICIAL_DATA = "{% trans 'Seleccione...' %}";

    /// Mensaje de navegador no soportado por el sistema
    var MSG_WEB_NAVIGATOR = "{% trans 'La aplicación solo puede ser ejecutada en el navegador Firefox o similares. ' %}";
    MSG_WEB_NAVIGATOR += "{% trans 'Usted será redireccionado a la web de Firefox para su descarga e instalación.' %}";

    /// Mensaje de error en peticiones AJAX
    var MSG_PETICION_AJAX_FALLIDA = "{% trans 'Petición fallida. Verifique el error: ' %}";

    /// Mensaje de error en la longitud del RIF
    var MSG_LENGTH_RIF = "{% trans 'El número de RIF debe ser de 10 carácteres' %}";

    /// Mensaje de error en la letra del tipo de RIF
    var MSG_TIPO_RIF = "{% trans 'Tipo de RIF incorrecto' %}";

    /// Mensaje de error cuando el número de RIF no es correcto
    var MSG_RIF_INCORRECTO = "{% trans 'El RIF no es correcto' %}";

    // Mensajes de fortaleza de contraseña
    /// Mensaje de contraseña muy débil
    var MSG_PASSWD_MUY_DEBIL = "{% trans 'Muy débil' %}";

    /// Mensaje de contraseña débil
    var MSG_PASSWD_DEBIL = "{% trans 'Débil' %}";

    /// Mensaje de contraseña regular
    var MSG_PASSWD_REGULAR = "{% trans 'Regular' %}";

    /// Mensaje de contraseña buena
    var MSG_PASSWD_BUENA = "{% trans 'Buena' %}";

    /// Mensaje de contraseña fuerte
    var MSG_PASSWD_FUERTE = "{% trans 'Fuerte' %}";

    /// Mensaje de contraseña muy fuerte
    var MSG_PASSWD_MUY_FUERTE = "{% trans 'Muy fuerte' %}";

    /// Mensaje al usuario solicitando si esta realmente seguro de eliminar el registro seleccionado
    var MSG_ELIMINAR_REGISTRO = "{% trans 'Esta seguro de querer eliminar el registro seleccionado?' %}";

    /// Mensaje al usuario indicando que el registro fue eliminado del sistema
    var MGS_REGISTRO_ELIMINADO = "{% trans 'Registro eliminado con éxito' %}";

    /// Mensaje al usuario indicando que el registro no pudo ser eliminado
    var MSG_REGISTRO_NO_ELIMINADO = "{% trans 'El registro seleccionado no puede ser eliminado' %}";

    /// Mensaje al usuario indicando que el registro fue almacenado correctamente
    var MSG_REGISTRO_OK = "{% trans 'Los datos fueron registrados con éxito' %}";

    /// Mensaje al usuario para modificar datos del sistema
    var MSG_REGISTRO_UPDATE = "{% trans '¿Esta seguro de modificar los datos?' %}";

    /// Texto a mostrar para el botón de agregar registros a un formulario desde una ventana modal
    var BTN_AGREGAR = "Agregar";

    /// Texto a mostrar para el botón de registrar datos del formulario
    var BTN_REGISTRAR = "{% trans 'Registrar' %}";

    /// Texto a mostrar para el botón de limpiar datos del formulario
    var BTN_LIMPIAR = "{% trans 'Limpiar' %}";

    /// Texto a mostrar para el botón de cancelar acción
    var BTN_CANCELAR = "{% trans 'Cancelar' %}";

    /// Ruta de imagen para el marcador de coordenadas
    var IMG_MARK_GIS = "{% static 'img/mark.png' %}";
</script>