{% load i18n %}
<div class="form-group {% if form.clave.errors %}has-error{% endif %}">
    <div>{{ form.clave.label_tag }}</div>
    <div class="form-inline">
        {{ form.clave }}<i class="ion ion-ios-medical item-requerido" data-toggle="tooltip"
                           title="{% trans 'Este campo es obligatorio' %}"></i>
    </div>
    {% if fortaleza_clave %}
        <label for="passwordStrength">Fortaleza de contraseña</label>
        <div id="passwordDescription">Contraseña no introducida</div>
        <div id="passwordStrength" class="strength0 text-center" style="margin: 0 auto; float: none;"></div>
        <input type="hidden" id="passwordMeterId" name="passwordMeterId" style="display:none;">
    {% endif %}
    {% if form.clave.errors %}
        <p class="bg-warning">
            <span class="help-block msg-error">
                <i class="fa fa-times-circle-o"></i> {{ form.clave.errors.as_text|cut:'* ' }}
            </span>
        </p>
    {% endif %}
</div>