<!DOCTYPE html>
{% load static from staticfiles %}
{% load i18n %}
<html lang="es">
	{% include 'base.head.template.html' %}
	<body class="hold-transition skin-blue-dark sidebar-mini">
		<div class="wrapper">
			{% include 'base.navbar.template.html' %}
			{% if request.user.is_authenticated %}
				{% include 'base.menu.left.side.html' %}
			{% endif %}
			<!-- Content Wrapper. Contains page content -->
      		<div class="content-wrapper" {% if not request.user.is_authenticated %}style="margin-left: 0;"{% endif %}>

				{% if request.user.is_authenticated %}
					<!-- header del contenido -->
					<section class="content-header">
						<h1>{% block content_header_title %}{% trans 'Entrada' %}{% endblock %}</h1>
						<ol class="breadcrumb">
                                <li><a href="{% url 'inicio' %}">{% trans 'Inicio' %}</a></li>
                            {% block content_header_roadmap %}
                                <li class="active">{% block active_link %}{% trans 'Pag. actual' %}{% endblock %}</li>
                            {% endblock %}
						</ol>
					</section>
				{% endif %}

				<!-- seccion para el contenido del sistema -->
				<section class="content" style="padding:auto 0;">
					<div class="row">
                        {% block contenido %}
                            <div class="box box-primary box-registro-general">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        <i class="glyphicon glyphicon-info-sign"></i>&#160;{% trans 'Registro de Unidades Económicas' %}</h3>
                                </div>
                                <div class="box-body">
                                    <h5 class="titulo">{% trans 'Bienvenido' %}, {{ request.user }}</h5>
                                    <p class="text-justify">
                                        {% blocktrans %}
                                            Para facilitar su registro, el sistema le provee de una serie de material y
                                            herramientas que le ayudaran a completar exitosamente su registro.
                                        {% endblocktrans %}
                                    </p>
                                    <div class="row row-fluid row-entrada">
                                        <div class="col-md-5 col-sm-12 col-xs-12"></div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">
                                            <a href="#">
                                                <img src="{% static 'img/manual.png' %}" alt="{% trans 'Manual' %}"
                                                     class="img-responsive img-entrada"
                                                     data-toggle="tooltip"
                                                     title="{% trans 'Presione para ver el manual de usuario' %}">
                                            </a>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12">
                                            <h2 class="titulo-img-entrada text-center">{% trans 'Manual de Usuario' %}</h2>
                                        </div>
                                    </div>
                                    <div class="row row-fluid row-entrada">
                                        <div class="col-md-5 col-sm-12 col-xs-12">
                                            <h2 class="titulo-img-entrada text-center">{% trans 'Preguntas Frecuentes' %}</h2>
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">
                                            <a href="#">
                                                <img src="{% static 'img/preguntas.png' %}"
                                                     alt="{% trans 'Preguntas Frecuentes' %}"
                                                     class="img-responsive img-entrada"
                                                     data-toggle="tooltip"
                                                     title="{% trans 'Presione para ver las preguntas frecuentes' %}">
                                            </a>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12">&#160;</div>
                                    </div>
                                    <div class="row row-fluid row-entrada">
                                        <div class="col-md-5 col-sm-12 col-xs-12"></div>
                                        <div class="col-md-2 col-sm-12 col-xs-12">
                                            <a href="{% url 'contacto' %}">
                                                <img src="{% static 'img/contacto.png' %}" alt="{% trans 'Contactenos' %}"
                                                     class="img-responsive img-entrada"
                                                     data-toggle="tooltip"
                                                     title="{% trans 'Presione para contactarnos' %}">
                                            </a>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12">
                                            <h2 class="titulo-img-entrada text-center">{% trans 'Contáctenos' %}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer text-right">
                                    <button type="button" class="btn btn-primary btn-sm"
                                            onclick="anho_registro('{% trans 'Año a Registrar' %}', $('#year-register').html())">
                                        {% trans 'Comenzar' %}
                                    </button>
                                </div>
                            </div>
                        {% endblock %}
	      			</div>
				</section>
      			
      		</div>
		</div>
		{% include 'base.footer.info.template.html' %}
		{% include 'base.footer.template.html' %}
        <script type="text/javascript">
            selector_menu = $('.sidebar-menu');
            if (selector_menu.length) {
                /** Instrucciones que permiten mostrar la opción del menú seleccionada */
                selector_menu.find(".treeview").each(function () {
                    $(this).removeClass('active'); // Remueve la clase active para todos los elementos del menú
                    var url_actual = $(location).attr('pathname');
                    if (url_actual==$(this).find('a').attr('href')) {
                        $(this).addClass('active'); // Agrega la clase active para la opción del menú seleccionada
                    }
                });
            }
        </script>
		{% block extra_footer %}{% endblock %}
        {% include 'base.loading.message.html' %}
	</body>
</html>