{% extends 'base.template.html' %}
{% load i18n %}
{% block contenido %}
    <form action="{% block form_action %}{% endblock %}" role="form"
          class="form validate-form {% block form_extra_class %}{% endblock %}"
          method="{% block form_method %}post{% endblock %}"
          autocomplete="off" enctype="multipart/form-data"
          onsubmit="{% block form_onsubmit %}{% endblock %}">
        {% csrf_token %}
        <div class="box box-primary box-registro-general">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="glyphicon glyphicon-edit"></i>&#160;{% block titulo_registro %}{% endblock %}
                </h3>
            </div>
            <div class="box-body">
                {% block form_inputs %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                            <div class="col-xs-12 {% block form_columnas %}col-sm-12 col-md-12{% endblock %}">
                                <div class="row-fluid">
                                    <div class="form-group {% if field.errors %}has-error{% endif %} {% if field.field.required %}has-feedback{% endif %}">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ field.auto_id }}">
                                            {{ field.label }}
                                        </label>
                                        <div class="col-md-9 col-xs-9 col-sm-9">
                                            <div class="form-inline">
                                                {{ field }}
                                                {% if field.field.required %}
                                                    <i class="ion ion-ios-medical item-requerido"></i>
                                                {% endif %}
                                            </div>
                                            {% if field.help_text == 'passwordMeterId' %}
                                                <label for="passwordStrength">Fortaleza de contraseña</label>
                                                <div id="passwordDescription">Contraseña no introducida</div>
                                                <div id="passwordStrength" class="strength0"></div>
                                                <input type="hidden" id="passwordMeterId" name="passwordMeterId" style="display:none;" value="0">
                                            {% else %}
                                                <span class="help-block">{{ field.help_text }}</span>
                                            {% endif %}
                                            {% if field.errors %}
                                                <p class="bg-warning">
                                                    <span class="help-block msg-error">
                                                        <i class="fa fa-times-circle-o"></i> {{ field.errors.as_text|cut:'* ' }}
                                                    </span>
                                                </p>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {% for field in form.hidden_fields %}{{field}}{% endfor %}
                {% endblock %}
                {% block form_extra_data %}{% endblock %}
            </div>
            <div class="box-footer text-right">
                {% block form_buttons %}
                    <input type="submit" data-toggle="tooltip"
                           value="{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}"
                           title="{% trans 'Presione para registrar los datos' %}"
                           class="btn btn-primary btn-sm">&#160;
                    <input type="reset" value="{% trans 'Limpiar' %}" data-toggle="tooltip"
                           title="{% trans 'Presione para reiniciar los campos del formulario' %}"
                           class="btn btn-primary btn-sm"/>&#160;
                    <input type="button" value="{% trans 'Cancelar' %}" data-toggle="tooltip"
                           title="{% trans 'Presione para regresar a la consulta' %}"
                           onclick="location='{% block cancelar_registro %}{% endblock %}'"
                           class="btn btn-primary btn-sm"/>
                {% endblock %}
            </div>
        </div>
    </form>
{% endblock %}