{% load i18n %}
{# Formulario para especificar el año de registro #}
<script type="text/html" id="year-register">
    <div class="row">
        <div class="col-md-12">
            <form id="year-register-form" class="form-horizontal" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-6 control-label" for="anho">
                        {% trans 'Seleccione el Año a registrar' %}
                    </label>
                    <div class="col-md-6">
                        <select id="anhoregistro" name="anhoregistro" class="select2 form-control" data-toggle="tooltip"
                                title="{% trans 'Seleccione el año de registro' %}">
                            <option value="">{% trans 'Seleccione...' %}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

{# Formulario para la selección de coordenadas geográficas #}
<script type="text/html" id="sel-coordenada">
    <div class="row">
        <div class="col-md-12">
            <form id="sel-coordenada-form" class="form-horizontal" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputLongitud" class="col-md-3 control-label">
                        {% trans 'Longitud' %}
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="inputLongitud" name="inputLongitud"
                               data-toggle="tooltip" readonly placeholder="{% trans 'Coordenada de Longitud' %}"
                               title="{% trans 'Seleccione en el mapa la coordenada de Longitud' %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLatitud" class="col-md-3 control-label">
                        {% trans 'Latitud' %}
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="inputLatitud" name="inputLatitud"
                               data-toggle="tooltip" readonly placeholder="{% trans 'Coordenada de Latitud' %}"
                               title="{% trans 'Seleccione en el mapa la coordenada de Latitud' %}">
                    </div>
                </div>
                <h3>{% trans 'Seleccione su ubicacion en el mapa' %}</h3>
                <hr>
                <span class="help-block">
                    {% trans 'Mueva el marcador en el mapa hasta las coordenadas de su ubicación' %}.<br>
                    {% trans 'Para acercar la imagen del mapa, se debe hacer doble click con el raton' %}.
                </span>
                <div class="form-group">
                    <div id="map" class="map" tabindex="0"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div id="coordenadas"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>
