{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content_header_title %}{% trans 'Sub Unidad Económica' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'sub_unidad_create' %}">{% trans 'Sub Unidad Económica' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Pag. actual' %}{% endblock %}</li>
{% endblock %}
{% block contenido %}
<form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="box box-primary box-registro-general">
        <div class="box-header with-border">
            <h3 class="box-title">
                    <i class="glyphicon glyphicon-edit"></i>&#160;{% trans "Datos de sub-unidades económicas"%}
                </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.tipo_sub_unidad.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_sub_unidad.auto_id }}">
                            {{ form.tipo_sub_unidad.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.tipo_sub_unidad }}<i class="ion ion-ios-medical item-requerido"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.rif.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.rif.auto_id }}">
                            {{ form.rif.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.rif }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.nombre_sub.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_planta.auto_id }}">
                            {% block nombre %}{{ form.nombre_sub.label }}{% endblock %}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">{{ form.nombre_sub }}<i class="ion ion-ios-medical item-requerido"></i></div>
                            {% include 'base.form.errors.html' with form_errors=form.nombre_sub.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.telefono.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.telefono.auto_id }}">
                            {{ form.telefono.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">{{ form.telefono }}<i class="ion ion-ios-medical item-requerido"></i></div>
                            {% include 'base.form.errors.html' with form_errors=form.telefono.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'directorio.registro.template.html' %}
                
            <div class="row">

            </div>
           
            <h4 class="box-title"><i class="glyphicon glyphicon-home"></i> {% trans 'Características Generales' %}</h4>
            <br>
             <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.tipo_tenencia.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_tenencia.auto_id }}">
                            {{ form.tipo_tenencia.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">{{ form.tipo_tenencia }}<i class="ion ion-ios-medical item-requerido"></i></div>
                            {% include 'base.form.errors.html' with form_errors=form.tipo_tenencia.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                    </div>
                </div>
             </div>
             
             <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.m2_construccion.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.m2_construccion.auto_id }}">
                            {{ form.m2_construccion.label }}
                        </label>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            {{ form.m2_construccion }}
                            {% include 'base.form.errors.html' with form_errors=form.m2_construccion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                        <div class="col-sm-1"><i class="ion ion-ios-medical item-requerido"></i></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.m2_terreno.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.m2_terreno.auto_id }}">
                            {{ form.m2_terreno.label }}
                        </label>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            {{ form.m2_terreno }}
                            {% include 'base.form.errors.html' with form_errors=form.m2_terreno.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                        <div class="col-sm-1"><i class="ion ion-ios-medical item-requerido"></i></div>
                    </div>
                </div>
            </div>
             
             <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.autonomia_electrica.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.autonomia_electrica.auto_id }}">
                            {{ form.autonomia_electrica.label }}
                        </label>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            {{ form.autonomia_electrica }}
                            {% include 'base.form.errors.html' with form_errors=form.autonomia_electrica.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                        <div class="col-sm-1"><i class="ion ion-ios-medical item-requerido"></i></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.consumo_electrico.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.consumo_electrico.auto_id }}">
                            {{ form.consumo_electrico.label }}
                        </label>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            {{ form.consumo_electrico }}
                            {% include 'base.form.errors.html' with form_errors=form.consumo_electrico.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                        <div class="col-sm-1"><i class="ion ion-ios-medical item-requerido"></i></div>
                    </div>
                </div>
            </div>
             
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.cantidad_empleados.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_empleados.auto_id }}">
                            {{ form.cantidad_empleados.label }}
                        </label>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            {{ form.cantidad_empleados }}
                            {% include 'base.form.errors.html' with form_errors=form.cantidad_empleados.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                        <div class="col-sm-1"><i class="ion ion-ios-medical item-requerido"></i></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.servicios_publicos.errors %}has-error{% endif %} has-feedback">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.servicios_publicos.auto_id }}">
                            {{ form.servicios_publicos.label }}
                        </label>
                        <div class="col-md-8 col-xs-8 col-sm-8 radio-inline">
                            {{ form.servicios_publicos }}
                            {% include 'base.form.errors.html' with form_errors=form.servicios_publicos.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                    </div>
                </div>
            </div>
               
            <h4 class="box-title"><i class="glyphicon glyphicon-cog"></i> {% trans 'Actividad Económica de la Sub Unidad'%}</h4>
            <hr>
            <div id="planta">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.tipo_proceso.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_proceso.auto_id }}">
                                {{ form.tipo_proceso.label }}
                            </label>
                            <div class="col-md-4 col-xs-4 col-sm-4">
                                {{ form.tipo_proceso }}
                                {% include 'base.form.errors.html' with form_errors=form.tipo_proceso.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.nombre_proceso.errors %}has-error{% endif %}">
                            <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.nombre_proceso.auto_id }}">
                                {{ form.nombre_proceso.label }}
                            </label>
                            <div class="col-md-10 col-xs-10 col-sm-10">
                                {{ form.nombre_proceso }}
                                {% include 'base.form.errors.html' with form_errors=form.nombre_proceso.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.descripcion_proceso.errors %}has-error{% endif %}">
                            <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.descripcion_proceso.auto_id }}">
                                {{ form.descripcion_proceso.label }}
                            </label>
                            <div class="col-md-10 col-xs-10 col-sm-10">
                                {{ form.descripcion_proceso }}
                                {% include 'base.form.errors.html' with form_errors=form.descripcion_proceso.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.estado_proceso.errors %}has-error{% endif %}">
                            <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.estado_proceso.auto_id }}">
                                {{ form.estado_proceso.label }}
                            </label>
                            <div class="col-md-10 col-xs-10 col-sm-10">
                                {{ form.estado_proceso }}
                                {% include 'base.form.errors.html' with form_errors=form.estado_proceso.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="row form-group {% if form.nombre_proceso_tb.errors %}has-error{% endif %}">
                    <div class="col-md-2 col-sm-2 col-xs-2">     
                        <a type="button" id="#dtable" class="btn btn-primary btn-sm"
                        onclick="add_field_datatable(['#id_tipo_proceso','#id_nombre_proceso','#id_descripcion_proceso','#id_estado_proceso'],'#mydtable');">
                            {% trans 'Agregar' %}
                        </a>
                        <i class="ion ion-ios-medical item-requerido"></i>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h5>{% trans 'Actividades Registradas' %}</h5>
                    </div>
                </div>
                
                <div class="row box-body table-responsive">
                    <div class="col-md-12 col-sm-12 col-xs-12">        
                        <table class="table table-striped table-hover table-bordered blue-table display dataTable" id="mydtable">
                            <thead>
                                <tr>
                                    <th>{% trans 'Tipo de Proceso' %}</th>
                                    <th>{% trans 'Nombre del Proceso' %}</th>
                                    <th>{% trans 'Descripción del Proceso' %}</th>
                                    <th>{% trans 'Estado del Proceso' %}</th>
                                    <th>{% trans 'Opciones' %}</th>
                                </tr>
                            </thead>
                            {% if first_table %}
                                <tbody>
                                {% for value in first_table %}
                                    <tr>
                                    {% for item in value %}                                       
                                        <td>{{item | safe }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                        {% if form.nombre_proceso_tb.errors or form.tipo_proceso_tb.errors or form.descripcion_proceso_tb.errors or form.estado_proceso_tb.errors%}
                            <p class="bg-warning">
                                <span class="help-block msg-error">
                                    {% trans 'Debe agregar al menos un proceso' %}
                                </span>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
                
            <div id="sucursal">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group {% if form.actividad_caev_primaria.errors %}has-error{% endif %}">
                            <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.actividad_caev_primaria.auto_id }}">
                                {{ form.actividad_caev_primaria.label }}
                            </label>
                            <div class="col-md-10 col-xs-10 col-sm-10">
                                <div class="form-inline">{{ form.actividad_caev_primaria }}<i class="ion ion-ios-medical item-requerido"></i></div>
                                {% include 'base.form.errors.html' with form_errors=form.actividad_caev_primaria.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group {% if form.actividad_caev.errors %}has-error{% endif %}">
                            <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.actividad_caev.auto_id }}">
                                {{ form.actividad_caev.label }}
                            </label>
                            <div class="col-md-10 col-xs-10 col-sm-10">
                                <div class="form-inline">{{ form.actividad_caev }}</div>
                                {% include 'base.form.errors.html' with form_errors=form.actividad_caev.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row form-group {% if form.actividad_caev_tb.errors %}has-error{% endif %}">
                    <div class="col-md-2 col-sm-2 col-xs-2">     
                        <a type="button" id="#dtable" class="btn btn-primary btn-sm"
                        onclick="add_field_datatable(['#id_actividad_caev'],'#caevtable');">
                            {% trans 'Agregar' %}
                        </a>
                    </div>
                </div>
                
                <div class="row box-body table-responsive">
                    <div class="col-md-12 col-sm-12 col-xs-12">        
                        <table class="table table-striped table-hover table-bordered blue-table display dataTable" id="caevtable">
                            <thead>
                                <tr>
                                    <th>{% trans 'Actividad' %}</th>
                                    <th>{% trans 'Opciones' %}</th>
                                </tr>
                            </thead>
                            {% if second_table %}
                                <tbody>
                                {% for value in second_table %}
                                    <tr>
                                    {% for item in value %}                                       
                                        <td>{{item | safe }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group {% if form.capacidad_instalada_texto.errors %}has-error{% endif %}">
                            <label class="col-md-6 col-xs-6 col-sm-6 control-label" for="{{ form.capacidad_instalada_texto.auto_id }}">
                                {{ form.capacidad_instalada_texto.label }}
                            </label>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                                <div class="form-inline">{{ form.capacidad_instalada_texto }}<i class="ion ion-ios-medical item-requerido"></i></div>
                                {% include 'base.form.errors.html' with form_errors=form.capacidad_instalada_texto.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="form-group {% if form.capacidad_instalada_medida.errors %}has-error{% endif %}">
                            <div class="form-inline">{{ form.capacidad_instalada_medida }}<i class="ion ion-ios-medical item-requerido"></i></div>
                            {% include 'base.form.errors.html' with form_errors=form.capacidad_instalada_medida.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                    </div>
                </div>
            
                    
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group {% if form.capacidad_utilizada.errors %}has-error{% endif %}">
                            <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.capacidad_utilizada.auto_id }}">
                                {{ form.capacidad_utilizada.label }}
                            </label>
                            <div class="col-md-10 col-xs-10 col-sm-10">
                                <div class="form-inline">{{ form.capacidad_utilizada }}<i class="ion ion-ios-medical item-requerido"></i></div>
                                {% include 'base.form.errors.html' with form_errors=form.capacidad_utilizada.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group {% if form.sede_servicio.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.sede_servicio.auto_id }}">
                            {% block presta_servicio %}{{ form.sede_servicio.label }}{% endblock %}
                        </label>
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            {{ form.sede_servicio }}
                            {% include 'base.form.errors.html' with form_errors=form.sede_servicio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                        </div>
                        <div class="col-sm-1"><i class="ion ion-ios-medical item-requerido"></i></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row box-body table-responsive">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <table class="table table-striped table-hover table-bordered blue-table display dataTable" id="subunidadtable">
                    <thead>
                        <tr>
                            <th>{% trans 'Nombre' %}</th>
                            <th>{% trans 'Teléfono' %}</td>
                            <th>{% trans 'Tipo Tenencia' %}</th>
                            <th>{% trans 'Sub Unidad' %}</th>
                            <th>{% trans 'Número de Empleados' %}</th>
                            <th>{% trans '¿Presta Servicio?' %}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
                
        <div class="box-footer text-right">
            <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
            <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Guardar' %}</button>
            {% if sub_object %}
                <a type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" href="{% url 'maquinaria_equipos_create' %}">{% trans 'Siguiente' %}</a>
            {% endif %}
        </div>
        </div>
    </div>
</form>

{%endblock%}
{% block extra_footer %}
    <script type="text/javascript">
        /* Función al cargar la página */
        $(document).ready(function(){
            remove_field_datatable('#mydtable');
            update_field_datatable('#mydtable','#procesos-subunidad',
                ['#id_tipo_proceso','#id_nombre_proceso','#id_descripcion_proceso','#id_estado_proceso']);
            remove_field_datatable('#caevtable');
            update_field_datatable('#caevtable','#actividad-subunidad',['#id_actividad_caev']);
            comprobar();
            init_datatable_ajax("subunidadtable","{% url 'subunidad_data' %}");
        });
        $('#id_tipo_sub_unidad').on('change',function(){comprobar();});
        /* Función para comprobar en que estado se encuentra el select de tipo de sub unidad */
        function comprobar() {
            tipo_sub_unidad = $('#id_tipo_sub_unidad').val();
            if(tipo_sub_unidad=='Pl')
            {
                $('#planta').show();
                $('#sucursal').show();
            }
            else if (tipo_sub_unidad=='Su') {
                $('#planta').hide();
                $('#sucursal').show();
            }
            else
            {
                $('#planta').hide();
                $('#sucursal').hide();
            }
        }
    </script>
{% endblock %}