{% load i18n %}
<div class="box-header with-border">
    <h4 class="box-title">{% trans 'Procesos de la Sub Unidad'%}</h4>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4 control-label" for="{{ form.tipo_proceso.auto_id }}">
                {{ form.tipo_proceso.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.tipo_proceso }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4 control-label" for="{{ form.nombre_proceso.auto_id }}">
                {{ form.nombre_proceso.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.nombre_proceso }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4 control-label" for="{{ form.descripcion_proceso.auto_id }}">
                {{ form.descripcion_proceso.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.descripcion_proceso }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4 control-label" for="{{ form.estado_proceso.auto_id }}">
                {{ form.estado_proceso.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.estado_proceso }}
            </div>
        </div>
    </div>
</div>