.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.separador-vertical {
  padding: 10px;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

footer.info-develop {
  background-color: #343536 !important;
    /*font-weight: bold;*/
    padding: 5px 0;
    color: #fff;
}
footer.footer-info {
    background-color: #214478 !important;
    color: #fff;
    border-top: #ecf0f5 !important;
}
footer.footer-info .container {
  padding-top: 10px;
}
ul.footer-descripcion li {
    list-style: none;
}
.menu-anonimo {
  border-right: solid 1px #e7e7e7;
}

.js-captcha-refresh, .btn_accion {cursor: pointer}
.msg-error {
    color:#F56954 !important;
    padding-left: 10px;
    padding-right: 10px;
    /*color: #3175AF !important;*/
    /*font-weight: 700;*/
}
/* Fuentes */
.fuente-7 {font-size: 7px !important;}
.fuente-8 {font-size: 8px !important;}
.fuente-9 {font-size: 9px !important;}
.fuente-10 {font-size: 10px !important;}
.fuente-11 {font-size: 11px !important;}
.fuente-12 {font-size: 12px !important;}

.form-control {-webkit-border-radius: 5px !important;-moz-border-radius: 5px !important;border-radius: 5px !important;}

.has-feedback .form-control {
    padding-right: 10px;
}

h4.titulo, h5.titulo {
    margin-bottom: 20px;
    font-weight: bold;
}

.control-label {
    padding-right: 20px;
    text-align: left !important;
}

.tips {
    color:#3175AF;
    font-weight: normal;
}

.box-registro {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.item-requerido {
    margin-left: 20px;
    font-size: 10px !important;
    color: #F56954;
}