{% extends 'base.acceso.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block box_acceso_titulo %}{% trans 'Acceso al Sistema' %}{% endblock %}
{% block box_acceso_campos %}
    {% include 'base.rif.input.html' %}
    {% include 'base.clave.input.html' %}
    {% include 'base.captcha.input.html' %}
    <div class="form-group">
        <a href="{% url 'olvido_clave' %}" data-toggle="tooltip"
           title="{% trans 'Presione para generar una nueva contraseña de acceso' %}">
            {% trans '¿Olvidó su contraseña?' %}
        </a>
    </div>
{% endblock %}
{% block box_acceso_botones %}
    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip"
            title="{% trans 'Presione el botón para ingresar al sistema' %}">
        {% trans 'Ingresar' %}
    </button>
{% endblock %}