{% extends 'base.acceso.template.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block box_acceso_titulo %}{% trans 'Recuperar Contraseña' %}{% endblock %}
{% block box_acceso_campos %}
    <div class="col-sm-6 col-sm-offset-3">
        {% include 'base.rif.input.html' %}
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        {% include 'base.correo.input.html' %}
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        {% include 'base.captcha.input.html' %}
    </div>
{% endblock %}
{% block box_acceso_botones %}
    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip"
            title="{% trans 'Presione el botón para enviarle un correo con el acceso a la modificación de su contraseña' %}">
        {% trans 'Recuperar' %}
    </button>
{% endblock %}