{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block contenido %}
    <div class="col-md-6">
        <div id="carousel-portada" data-interval="4000" class="carousel slide" data-ride="carousel">
            <!-- Indicadores -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-portada" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-portada" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'img/bg-gears.png' %}" class='img-responsive'>
                    <div class="carousel-caption">
                        <h2>Title</h2>
                        <p>Description</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'img/bg-gears.png' %}" class='img-responsive'>
                    <div class="carousel-caption">
                        <h2>Title</h2>
                        <p>Description</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-portada" data-slide="prev">
                <i class="icon-prev fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-portada" data-slide="next">
                <i class="icon-next fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        {% csrf_token %}
        <div class="box box-primary text-center">
            <form action="" method="post" role="form">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans 'Acceso al Sistema' %}</h3>
                </div>
                <div class="box-body">
                    {% csrf_token %}
                    <div class="form-group {% if form.rif.errors %}has-error{% endif %}">
                        <div>{{ form.rif.label_tag }}</div>
                        <div class="form-inline">
                            {{ form.rif }}<i class="ion ion-ios-medical item-requerido"></i>
                        </div>
                        {% if form.rif.errors %}
                            <p class="bg-warning">
                                <span class="help-block msg-error">
                                    <i class="fa fa-times-circle-o"></i> {{ form.rif.errors.as_text|cut:'* ' }}
                                </span>
                            </p>
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.clave.errors %}has-error{% endif %}">
                        <div>{{ form.clave.label_tag }}</div>
                        <div class="form-inline">
                            {{ form.clave }}<i class="ion ion-ios-medical item-requerido"></i>
                        </div>
                        {% if form.clave.errors %}
                            <p class="bg-warning">
                                <span class="help-block msg-error">
                                    <i class="fa fa-times-circle-o"></i> {{ form.clave.errors.as_text|cut:'* ' }}
                                </span>
                            </p>
                        {% endif %}
                    </div>
                    <div class="form-group {% if form.captcha.errors %}has-error{% endif %}">
                        <div>{{ form.captcha.label_tag }}</div>
                        <div class="form-inline">
                            {{ form.captcha }}
                            <i class="glyphicon glyphicon-refresh js-captcha-refresh" data-toggle="tooltip"
                               title="{% trans 'Presione para recargar la imagen del captcha' %}"></i>
                            <i class="ion ion-ios-medical item-requerido"></i>
                        </div>
                        {% if form.captcha.errors %}
                            <p class="bg-warning">
                                <span class="help-block msg-error">
                                    <i class="fa fa-times-circle-o"></i> {{ form.captcha.errors.as_text|cut:'* ' }}
                                </span>
                            </p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <a href="#" data-toggle="tooltip"
                           title="{% trans 'Presione para generar una nueva contraseña de acceso' %}">
                            {% trans '¿Olvidó su contraseña?' %}
                        </a>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <button type="submit" class="btn btn-primary btn-sm">{% trans 'Ingresar' %}</button>
                        <button type="reset" class="btn btn-primary btn-sm">{% trans 'Limpiar' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}