{% extends 'sub.unidad.economica.base.html' %}
{% load i18n %}
{% block nombre %}{% trans 'Nombre de la planta productiva'%}{%endblock%}
{% block titulo1 %}{% trans 'Plantas Productivas'%}{% endblock %}
{% block titulo2 %}{% trans 'Descripción Física de la Planta'%}{% endblock %}
{% block actividad_economica %}
    <div class="box-header with-border">
        <h4 class="box-title">{% block titulo3 %}{% trans 'Actividad Económica de la Planta'%}{% endblock %}</h4>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.tipo_proceso.errors %}has-error{% endif %}">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.tipo_proceso.auto_id }}">
                    {{ form.tipo_proceso.label }}
                </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    {{ form.tipo_proceso }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                    {% if form.tipo_proceso.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.tipo_proceso.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.nombre_proceso.errors %}has-error{% endif %}">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.nombre_proceso.auto_id }}">
                    {{ form.nombre_proceso.label }}
                </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    {{ form.nombre_proceso }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                    {% if form.nombre_proceso.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.nombre_proceso.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.descripcion_proceso.errors %}has-error{% endif %}">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.descripcion_proceso.auto_id }}">
                    {{ form.descripcion_proceso.label }}
                </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    {{ form.descripcion_proceso }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                    {% if form.descripcion_proceso.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.descripcion_proceso.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.estado_proceso.errors %}has-error{% endif %}">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.estado_proceso.auto_id }}">
                    {{ form.estado_proceso.label }}
                </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    {{ form.estado_proceso }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                    {% if form.estado_proceso.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.estado_proceso.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.descripcion_proceso.errors %}has-error{% endif %}">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.descripcion_proceso.auto_id }}">
                    {{ form.descripcion_proceso.label }}
                </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    {{ form.descripcion_proceso }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                    {% if form.descripcion_proceso.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.descripcion_proceso.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group {% if form.estado_proceso.errors %}has-error{% endif %}">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.estado_proceso.auto_id }}">
                    {{ form.estado_proceso.label }}
                </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    {{ form.estado_proceso }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                    {% if form.estado_proceso.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.estado_proceso.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <span>{% trans 'Agregar Actividad' %}</span>
            <a id="#dtable"><i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
    
    {% if object_list %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h5>{% trans 'Actividades Registradas' %}</h5>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-striped table-hover display dataTable">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Tipo de Proceso</td>
                            <td>Nombre del Proceso</td>
                            <td>Descripción del Proceso</td>
                            <td>Estado del Proceso</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.tipo_proceso}}</td>
                                <td>{{item.nombre_proceso}}</td>
                                <td>{{item.descripcion_proceso}}</td>
                                <td>{{item.estado_proceso}}</td>
                                <td><i class="glyphicon glyphicon-pencil"></i><i class="glyphicon glyphicon-remove"></i></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group {% if form.codigo_ciiu.errors %}has-error{% endif %}">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.codigo_ciiu.auto_id }}">
                    {{ form.codigo_ciiu.label }}
                </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    <div class="form-inline">{{ form.codigo_ciiu }}<i class="ion ion-ios-medical item-requerido"></i></div>
                    {% if form.codigo_ciiu.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.codigo_ciiu.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="form-group {% if form.capacidad_instalada_texto.errors %}has-error{% endif %}">
                <label class="col-md-6 col-xs-6 col-sm-6 control-label" for="{{ form.capacidad_instalada_texto.auto_id }}">
                    {{ form.capacidad_instalada_texto.label }}
                </label>
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <div class="form-inline">{{ form.capacidad_instalada_texto }}</div>
                    {% if form.capacidad_instalada_texto.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.capacidad_instalada_texto.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="form-group {% if form.capacidad_instalada_select.errors %}has-error{% endif %}">
                <div class="form-inline">{{ form.capacidad_instalada_select }}<i class="ion ion-ios-medical item-requerido"></i></div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group {% if form.capacidad_utilizada.errors %}has-error{% endif %}">
                <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.capacidad_utilizada.auto_id }}">
                    {{ form.capacidad_utilizada.label }}
                </label>
                <div class="col-md-10 col-xs-10 col-sm-10">
                    <div class="form-inline">{{ form.capacidad_utilizada }}<i class="ion ion-ios-medical item-requerido"></i></div>
                    {% if form.capacidad_utilizada.errors %}
                        <p class="bg-warning">
                            <span class="help-block msg-error">
                                <i class="fa fa-times-circle-o"></i> {{ form.capacidad_utilizada.errors.as_text|cut:'* ' }}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{%endblock%}