{% load static from staticfiles %}
{% load i18n %}
{% load l10n %}
<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'inicio' %}" class="logo">
    	<!-- mini logo for sidebar mini 50x50 pixels -->
    	<span class="logo-mini">
    		<img src="{% static 'img/gears.png' %}" class="img-responsive" style="max-height: 40px;" alt="">
    	</span>
    	<!-- logo for regular state and mobile devices -->
    	<span class="logo-lg">
    		<img src="{% static 'img/logo.png' %}" class="img-responsive" style="max-height: 40px;" alt="SIGESIC">
    	</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        {% if request.user.is_authenticated %}
        	<!-- Sidebar toggle button-->
        	<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        		<span class="sr-only">Toggle navigation</span>
        	</a>
        {% endif %}
    	<div class="navbar-custom-menu">
    		<ul class="nav navbar-nav">
                <!-- Opciones generales para usuarios no autenticados -->
                {% if not request.user.is_authenticated %}
                    <li class="menu-anonimo">
                        <a href="{% url 'registro' %}">
                            <span class="hidden-xs">{% trans 'Registro' %}</span>
                        </a>
                    </li>
                    <li class="menu-anonimo">
                        <a href="#">
                            <span class="hidden-xs">{% trans 'Manual' %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="hidden-xs">{% trans 'Acerca de' %}</span>
                        </a>
                    </li>
                {% endif %}


                {% if request.user.is_authenticated %}
                    <!-- Opciones para usuarios autenticados -->
        			<!-- Notifications -->
        			<li class="dropdown notifications-menu">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
        					<i class="fa fa-bell-o tip-bottom" data-toggle="tooltip"
                               title="{% trans 'Notificaciones del Sistema' %}"></i>
        					<span class="label {% if notificaciones %}label-warning{% else %}label-primary{% endif %}">
                                {% if notificaciones %}
                                    {{ notificaciones }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
        				</a>
        				<ul class="dropdown-menu">
                            {# Menu de notificaciones del sistema #}
                            {% if not notificaciones %}
                                <li class="header">{% trans 'No tiene notificaciones' %}</li>
                                <li class="footer"><a href="#">&#160;</a></li>
                            {% else %}
                                <li class="header">
                                    {% trans 'Tiene' %} {{ notificaciones }} {% trans 'notificaciones' %}
                                </li>
                                <li>
                                    <ul class="menu">
                                        {% for notificacion in notificaciones %}
                                            <li>
                                                <a href="{{ notificacion.url }}">
                                                    <i class="{% if notificacion.icon_class %}mensaje_notificacion.icon_class {% else %}text-red{% endif %}"></i>
                                                    &#160;
                                                    {{ notificacion.mensaje }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">{% trans 'Ver todas' %}</a></li>
                            {% endif %}

        				</ul>
        			</li>

        			<!-- User Account: style can be found in dropdown.less -->
        			<li class="dropdown user user-menu">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
        					<img src="{% static 'img/factory.svg' %}" class="user-image" alt="User Image">
        					<span class="hidden-xs">{{ request.user }}</span>
        				</a>
        				<ul class="dropdown-menu">
        					<!-- User image -->
        					<li class="user-header">
        						<img src="{% static 'img/factory.svg' %}" class="img-circle" alt="User Image">
        						<p>
        							{{ request.user }}
        							<small>{% trans 'Registrado desde' %} {{ request.user.date_joined|date }}</small>
        						</p>
        					</li>
        					<!-- Menu Footer-->
        					<li class="user-footer">
        						<div class="pull-left">
        							<a href="#" class="btn btn-default btn-flat" data-toggle="tooltip"
                                       title="{% trans 'Presione para modificar datos del usuario' %}">
                                        {% trans 'Perfil' %}
                                    </a>
        						</div>
        						<div class="pull-right">
        							<a href="{% url 'salir' %}" class="btn btn-default btn-flat"
                                       data-toggle="tooltip" title="{% trans 'Presione para salir del sistema' %}">
                                        {% trans 'Salir' %}
                                    </a>
        						</div>
        					</li>
        				</ul>
        			</li>
                {% endif %}
    		</ul>
    	</div>
    </nav>
</header>