<!DOCTYPE html>
{% load static from staticfiles %}
{% load i18n %}
<html lang="es">
	{% include 'base.head.template.html' %}
	<body class="hold-transition skin-blue-dark sidebar-mini">
		<div class="wrapper">
			{% include 'base.navbar.template.html' %}
			{% if request.user.is_authenticated %}
				{% include 'base.menu.left.side.html' %}
			{% endif %}
			<!-- Content Wrapper. Contains page content -->
      		<div class="content-wrapper" {% if not request.user.is_authenticated %}style="margin-left: 0;"{% endif %}>

				{% if request.user.is_authenticated %}
					<!-- header del contenido -->
					<section class="content-header">
						<h1>Contenido</h1>
						<ol class="breadcrumb">
							<li><a href="#">{% trans 'Inicio' %}</a></li>
							<li class="active">{% block active_link %}{% trans 'Pag. actual' %}{% endblock %}</li>
						</ol>
					</section>
				{% endif %}
				
				<!-- seccion para el contenido del sistema -->
				<section class="content" style="padding:auto 0;">
					<div class="row">
                        {% block contenido %}{% endblock %}
	      			</div>
				</section>
      			
      		</div>
		</div>
		{% include 'base.footer.info.template.html' %}
		{% include 'base.footer.template.html' %}
		{% block extra_footer %}{% endblock %}
	</body>
</html>