{% load i18n %}
<script type="text/javascript">
    /**
     * @brief Sección de variables comúnes
     *
     * @author Ing. Roldan Vargas (roldandvg at gmail.com)
     * @copyright GNU/GPLv2
     * @date 27-04-2016
     */

    /// URL para obtener datos del seniat
    var URL_GET_DATA_RIF = "{% url 'get_data_rif' %}";

    /// URL para validar el rif en los registros del SENIAT
    var URL_VALIDAR_RIF_SENIAT = "{% url 'validar_rif_seniat' %}";

    /// Mensaje de error en peticiones AJAX
    var MSG_PETICION_AJAX_FALLIDA = "{% trans 'Petición fallida. Verifique el error: ' %}";

    /// Mensaje de error en la longitud del RIF
    var MSG_LENGTH_RIF = "{% trans 'El número de RIF debe ser de 10 carácteres' %}";

    /// Mensaje de error en la letra del tipo de RIF
    var MSG_TIPO_RIF = "{% trans 'Tipo de RIF incorrecto' %}";

    /// Mensaje de error cuando el número de RIF no es correcto
    var MSG_RIF_INCORRECTO = "{% trans 'El RIF no es correcto' %}";
</script>