{% load i18n %}
<script type="text/javascript">
    /**
     * @brief Sección de variables comúnes
     *
     * @author Ing. Roldan Vargas (roldandvg at gmail.com)
     * @copyright GNU/GPLv2
     * @date 27-04-2016
     */

    /// URL para obtener datos del seniat
    var URL_GET_DATA_RIF = "{% url 'get_data_rif' %}";

    /// URL para validar el rif en los registros del SENIAT
    var URL_VALIDAR_RIF_SENIAT = "{% url 'validar_rif_seniat' %}";

    /// Mensaje de error en peticiones AJAX
    var MSG_PETICION_AJAX_FALLIDA = "{% trans 'Petición fallida. Verifique el error: ' %}";
</script>