{% extends 'base.template.html' %}
{% load i18n %}
{% block contenido %}
    <form action="{% url 'registro_ue' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="box box-primary box-registro" style="padding:20px">
            <div class="box-body">
                <h4 class="titulo">{% trans 'Información General' %}</h4>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group {% if form.rif.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.rif.auto_id }}">
                                {{ ue.rif.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.rif }}
                                </div>
                                {% if form.rif.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.rif.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.razon_social.auto_id }}">
                                {{ ue.razon_social.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.razon_social }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.nombre_ue.auto_id }}">
                                {{ ue.nombre_ue.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ ue.nombre_ue }}</div>
                                {% if form.nombre_ue.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.nombre_ue.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="titulo">
                    {% trans 'Dirección Fiscal' %}
                </h4>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        </div>
                    </div>
                </div>
                <h4 class="titulo">
                    {% trans 'Actividad Económica' %}
                </h4>
                <hr />
                
                <div class="row">
                    <div class="form-group">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.orga_comunal.auto_id }}">
                                {{ ue.orga_comunal.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.orga_comunal }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.tipo_orga_comunal.auto_id }}">
                                {{ ue.tipo_orga_comunal.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.tipo_orga_comunal }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.franquiciado.auto_id }}">
                                {{ ue.franquiciado.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.franquiciado }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.pais_franquicia.auto_id }}">
                                {{ ue.pais_franquicia.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.pais_franquiciado }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.casa_matriz_franquicia.auto_id }}">
                                {{ ue.casa_matriz_franquicia.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.casa_matriz_franquicia }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.nro_franquicia.auto_id }}">
                                {{ ue.nro_franquicia.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.nro_franquicia }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.nro_planta.auto_id }}">
                                {{ ue.nro_planta.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.nro_planta }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.nro_unid_comercializadoras.auto_id }}">
                                {{ ue.nro_unid_comercializadoras.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.nro_unid_comercializadoras }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ ue.servicio.auto_id }}">
                                {{ ue.servicio.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ ue.servicio }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-footer text-right">
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Limpiar' %}</button>
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Siguiente' %}</button>
            </div>
        </div>
    </form>
{% endblock %}