{% load i18n %}
<div class="box-header with-border">
    <h4 class="box-title">{% trans 'Actividad Económica Secundaria'%}</h4>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>
                {{ form.actividad2.label }}
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <div class="form-inline">{{ form.actividad2 }}<i class="ion ion-ios-medical item-requerido"></i></div>
        </div>
    </div>
</div>