{% extends 'base.template.html' %}
{% load i18n %}
{% block contenido %}
    <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="box box-primary box-registro" style="padding:20px">
            <div class="box-body">
                <h4 class="titulo">{% trans 'Información General' %}</h4>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group {% if form.rif.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.rif.auto_id }}">
                                {{ form.rif.label }} 
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.rif }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.razon_social.auto_id }}">
                                {{ form.razon_social.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.razon_social }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_ue.auto_id }}">
                                {{ form.nombre_ue.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.nombre_ue }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="titulo">
                    {% trans 'Dirección Fiscal' %}
                </h4>
                <hr />
                
                <div class="form-group">
                    <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.estado.auto_id }}">
                        {{ form.estado.label }}
                    </label>
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        {{ form.estado }}<i class="ion ion-ios-medical item-requerido"></i>
                    </div>
                    <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.municipio.auto_id }}">
                        {{ form.municipio.label }}
                    </label>
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        {{ form.municipio }}<i class="ion ion-ios-medical item-requerido"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.parroquia.auto_id }}">
                        {{ form.parroquia.label }}
                    </label>
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        {{ form.parroquia }}<i class="ion ion-ios-medical item-requerido"></i>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.prefijo_uno.auto_id }}">
                        Seleccione:
                    </label>
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        {% for prefijo in form.prefijo_uno %}
                            {{ prefijo }}
                        {% endfor %}
                    </div>
                    <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.prefijo_dos.auto_id }}">
                        Seleccione:
                    </label>
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        {% for prefijo in form.prefijo_dos %}
                            {{ prefijo }}
                        {% endfor %}
                    </div>
                    <label class="col-md-6 control-label" for="{{ form.direccion_uno.auto_id }}">
                        {{ form.direccion_uno.label }} {{ form.direccion_uno }}
                    </label>
                    <label class="col-md-6 control-label" for="{{ form.direccion_dos.auto_id }}">
                        {{ form.direccion_dos.label }} {{ form.direccion_dos }}
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.prefijo_tres.auto_id }}">
                        Seleccione:
                    </label>
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        {% for prefijo in form.prefijo_tres %}
                            {{ prefijo }}
                        {% endfor %}
                    </div>
                    <label class="col-md-2 col-xs-2 col-sm-2 control-label" for="{{ form.prefijo_cuatro.auto_id }}">
                        Seleccione:
                    </label>
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        {% for prefijo in form.prefijo_cuatro %}
                            {{ prefijo }}
                        {% endfor %}
                    </div>
                    <label class="col-md-6 control-label" for="{{ form.direccion_tres.auto_id }}">
                        {{ form.direccion_tres.label }} {{ form.direccion_tres }}
                    </label>
                    <label class="col-md-6 control-label" for="{{ form.direccion_cuatro.auto_id }}">
                        {{ form.direccion_cuatro.label }} {{ form.direccion_cuatro }}
                    </label>
                </div>
                <br />

                <div class="form-group">
                    <label class="col-md-6 col-xs-6 col-sm-6 control-label" for="{{ form.tipo_coordenada.auto_id }}">
                        {{ form.tipo_coordenada.label }} {{ form.tipo_coordenada }}
                    </label>
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <label class="control-label" for="{{ form.coordenada.auto_id }}">
                            {{ form.coordenada.label }}{{ form.coordenada }}
                        </label>
                    </div>
                </div>

                <h4 class="titulo">
                    {% trans 'Actividad Económica' %}
                </h4>
                <hr />
                
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label" for="{{ form.actividad.auto_id }}">
                            {{ form.actividad.label }}
                        </label>
                        {{ form.actividad }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.orga_comunal.auto_id }}">
                                {{ form.orga_comunal.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.orga_comunal }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_comunal.auto_id }}">
                                {{ form.tipo_comunal.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.tipo_comunal }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.franquiciado.auto_id }}">
                                {{ form.franquiciado.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.franquiciado }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.pais_franquicia.auto_id }}">
                                {{ form.pais_franquicia.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.pais_franquicia }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_franquicia.auto_id }}">
                                {{ form.nombre_franquicia.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.nombre_franquicia }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.rif_franquicia.auto_id }}">
                                {{ form.rif_franquicia.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.rif_franquicia }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.casa_matriz_franquicia.auto_id }}">
                                {{ form.casa_matriz_franquicia.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.casa_matriz_franquicia }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nro_franquicia.auto_id }}">
                                {{ form.nro_franquicia.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.nro_franquicia }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nro_planta.auto_id }}">
                                {{ form.nro_planta.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.nro_planta }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nro_unid_comercializadora.auto_id }}">
                                {{ form.nro_unid_comercializadora.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.nro_unid_comercializadora }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.servicio.auto_id }}">
                                {{ form.servicio.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.servicio }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-footer text-right">
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Limpiar' %}</button>
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Siguiente' %}</button>
            </div>
        </div>
    </form>
{% endblock %}