{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content_header_title %}{% trans 'Registro' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'servicio_general_create' %}">{% trans 'Servicios' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Pag. actual' %}{% endblock %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-primary box-registro-general" style="padding:20px">
        
        <div class="box-header with-border">
            <h1 class="box-title">{% trans 'Servicios'%}</h1>
        </div>
        
        <form action="{% url 'servicio_general_create' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="box-body">
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.subunidad.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.subunidad.auto_id }}">
                            {{ form.subunidad.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.subunidad }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.subunidad.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.nombre_servicio.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_servicio.auto_id }}">
                            {{ form.nombre_servicio.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.nombre_servicio }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.nombre_servicio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.tipo_servicio.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_servicio.auto_id }}">
                            {{ form.tipo_servicio.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.tipo_servicio }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.tipo_servicio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_clientes.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_clientes.auto_id }}">
                            {{ form.cantidad_clientes.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_clientes }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.cantidad_clientes.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group {% if form.caev.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.caev.auto_id }}">
                            {{ form.caev.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.caev }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.caev.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Guardar' %}</button>
            </div>
        </div>
        </form>
        
        <div id='carga_template_servicios' style='display: none;'>
            {% include 'carga.masiva.template.html' with app='servicios' mod='Servicio'%}
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>{% trans 'Lista de Servicios Cargados' %}</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">        
                <table class="table table-striped table-hover display dataTable" id="servicios_list">
                    <thead>
                        <tr>
                            <td>{% trans 'Servicio' %}</td>
                            <td>{% trans 'Tipo de Servicio' %}</td>
                            <td>{% trans 'Código CAEV' %}</td>
                            <td>{% trans '# de Clientes' %}</td>
                            <td>{% trans 'Sub Unidad Económica' %}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    <form action="{% url 'servicio_cliente_create' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
    {% csrf_token %}
        <div class="box-header with-border">
            <h1 class="box-title">{% trans 'Clientes'%}</h1>
        </div>
        
        <div class="box-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group {% if form.anho_registro.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.subunidad.auto_id }}">
                            {{ form.anho_registro.label }}
                            <hr>
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.anho_registro }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.anho_registro.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="display:none;">{{ form.anho }}</div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.subunidad_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.subunidad_cliente.auto_id }}">
                            {{ form.subunidad_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.subunidad_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.subunidad_cliente.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.cliente_servicio.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cliente_servicio.auto_id }}">
                            {{ form.cliente_servicio.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cliente_servicio }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.cliente_servicio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-12"><br>
                    <span style="color: blue;" id="nota">

                    </span>
                </div>
            </div><br>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cliente_list.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cliente_list.auto_id }}">
                            {{ form.cliente_list.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cliente_list }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.cliente_list.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.ubicacion_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.ubicacion_cliente.auto_id }}">
                            {{ form.ubicacion_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.ubicacion_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.ubicacion_cliente.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.rif.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.rif.auto_id }}">
                            {{ form.rif.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.rif }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.rif.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.nombre_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_cliente.auto_id }}">
                            {{ form.nombre_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.nombre_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.nombre_cliente.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.precio.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.precio.auto_id }}">
                            {{ form.precio.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.precio }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.precio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.tipo_moneda.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_moneda.auto_id }}">
                            {{ form.tipo_moneda.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.tipo_moneda }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.tipo_moneda.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.monto_facturado.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.monto_facturado.auto_id }}">
                            {{ form.monto_facturado.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.monto_facturado }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.monto_facturado.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.servicio_prestado.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.servicio_prestado.auto_id }}">
                            {{ form.servicio_prestado.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.servicio_prestado }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.servicio_prestado.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <div id='carga_template_clientes' style='display: none;'>
            {% include 'carga.masiva.template.html' with app='servicios' mod='ServicioCliente' %}
        </div>
            
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>{% trans 'Lista de Clientes Cargados' %}</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">        
                <table class="table table-striped table-hover display dataTable" id="clientes_list">
                    <thead>
                        <tr>
                            <td>{% trans 'Servicio' %}</td>
                            <td>{% trans 'Ubicación' %}</td>
                            <td>{% trans 'Nombre del Cliente' %}</td>
                            <td>{% trans 'RIF' %}</td>
                            <td>{% trans 'Precio' %}</td>
                            <td>{% trans 'Tipo de Moneda' %}</td>
                            <td>{% trans 'Monto Facturado' %}</td>
                            <td>{% trans '# Servicios Prestados' %}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
            
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Guardar' %}</button>
            </div>
        </div>
    </form>
    </div>
{% endblock%}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function(){
            //Si hay un valor en la subunidad se llena el DataTable
            if($('#id_subunidad').val()!='')
            {
                before_init_datatable("servicios_list","{% url 'servicios_data' %}","subunidad_id",$('#id_subunidad').val());
            }
            //Si hay un valor en el servicio se llena el DataTable
            if($('#id_cliente_servicio').val()!='')
            {
                before_init_datatable("clientes_list","{% url 'servicios_cliente_data' %}","servicio_id",$('#id_cliente_servicio').val());
            }
            //Se cambia el valor del año
            if ($('#id_anho_registro').val()=='') {
              $('#id_anho_registro').val($('#id_anho').val()).change();
            }
            /** Función a ser agregada en el evento onchange del rif para la verificación de los datos en el SENIAT */
            var onchange = "validar_rif_seniat('{{ form.rif.auto_id }}', '{{ form.nombre_cliente.auto_id }}', true)";
            for (i=0; i<=2; i++) {
                $("#{{ form.rif.auto_id }}_"+i).attr("onchange", onchange);
            }
            /**     Se válida el rif del usuario    */
            $('#id_rif_2').blur(function(){
                duplicate_rif("#id_rif","#id_nombre_cliente");
            });
            
            $('.fileinput-upload-button').click(function(event){
                event.preventDefault();
                var models = ''
                var acccion = $(this).parent().parent().parent().parent().parent().find('button').attr('onclick');
                var file = '';
                var nombre = acccion.split(',')[1];
                nombre = nombre.replace(/\'/g,'');
                var anho = $('#id_anho_registro option:selected').text();
                if (nombre=='Servicio') {
                    var padre = $('#id_subunidad').val();
                    models = '?app=servicios&mod=Servicio&anho='+anho+'&father_id='+padre;
                    var file =$('#carga_masiva-Servicio')[0];
                }
                else if (nombre=='ServicioCliente') {
                    var padre = $('#id_subunidad_cliente').val();
                    var models = '?app=servicios&mod=ServicioCliente&anho='+anho+'&father_id='+padre;
                    var file = $('#carga_masiva-ServicioCliente')[0];
                }
                var fdata = new FormData();
                fdata.append('file',file.files[0]);
                fdata.append('csrfmiddlewaretoken','{{ csrf_token }}');
                $.ajax({
                    url: URL_CARGAR_ARCHIVO_CM+models,
                    data: fdata,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function(data){
                        console.log(data);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });        
        });
    </script>
{% endblock %}