{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content_header_title %}{% trans 'Registro' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'bienes_registro_create' %}">{% trans 'Bienes Producidos y Comercializados' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Pag. actual' %}{% endblock %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-primary box-registro-general" style="padding:20px">
        
        <div class="box-header with-border">
            <h1 class="box-title">{% trans 'Bienes Producidos y Comercializados'%}</h1>
        </div>
        
        <form action="{% url 'bienes_registro_create' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="box-body">
            
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group {% if form.anho_registro.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.subunidad.auto_id }}">
                            {{ form.anho_registro.label }}
                            <hr>
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.anho_registro }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.anho_registro.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">{{ form.anho }}</div>
            </div>
                        
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.subunidad.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.subunidad.auto_id }}">
                            {{ form.subunidad.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.subunidad }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.subunidad.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.nombre_producto.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_producto.auto_id }}">
                            {{ form.nombre_producto.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.nombre_producto }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.nombre_producto.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.especificacion_tecnica.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.especificacion_tecnica.auto_id }}">
                            {{ form.especificacion_tecnica.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.especificacion_tecnica }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.especificacion_tecnica.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.marca.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.marca.auto_id }}">
                            {{ form.marca.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.marca }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.marca.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_clientes.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_clientes.auto_id }}">
                            {{ form.cantidad_clientes.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_clientes }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.cantidad_clientes.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_insumos.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_insumos.auto_id }}">
                            {{ form.cantidad_insumos.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_insumos }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.cantidad_insumos.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12"><br>
                    <span style="color: blue;">
                        <b>{% trans 'Nota:' %}</b>
                        {% trans 'Seleccione una de las opciones en unidad de medida, en caso de seleccionar' %}
                        {% trans 'UNIDAD DE VENTA AL DETAL, tenga en cuenta que se refiere a la venta al detal.'%}<br>
                        {% trans 'Ejemplo: 1 celular, 1 carro, 1 paquete de gas, etc.'%}
                    </span>
                </div>
            </div><br>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_produccion.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_produccion.auto_id }}">
                            {{ form.cantidad_produccion.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_produccion }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.cantidad_produccion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.unidad_de_medida.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.unidad_de_medida.auto_id }}">
                            {{ form.unidad_de_medida.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.unidad_de_medida }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.unidad_de_medida.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group {% if form.caev.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.caev.auto_id }}">
                            {{ form.caev.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.caev }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.caev.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Guardar' %}</button>
            </div>
        </div>
        </form>
        
        {% include 'carga.masiva.template.html' with app='bienes_prod_comer' mod='Produccion' anho='2016' rel_id='3' %}
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>{% trans 'Lista de Productos Cargados' %}</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">        
                <table class="table table-striped table-hover display dataTable" id="bienes_list">
                    <thead>
                        <tr>
                            <td>{% trans 'Producto' %}</td>
                            <td>{% trans 'Especificación Técnica' %}</td>
                            <td>{% trans 'Marca' %}</td>
                            <td>{% trans 'Código CAEV' %}</td>
                            <td>{% trans '# de Clientes' %}</td>
                            <td>{% trans '# de Insumos' %}</td>
                            <td>{% trans 'Unidades Producidas' %}</td>
                            <td>{% trans 'Unidad de medida' %}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    <form action="{% url 'cliente_registro_create' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
    {% csrf_token %}
        <div class="box-header with-border">
            <h1 class="box-title">{% trans 'Clientes'%}</h1>
        </div>
        
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.subunidad_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.subunidad_cliente.auto_id }}">
                            {{ form.subunidad_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.subunidad_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.subunidad_cliente.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-12"><br>
                    <span style="color: blue;" id="nota">

                    </span>
                </div>
            </div><br>
                
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cliente_producto.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cliente_producto.auto_id }}">
                            {{ form.cliente_producto.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cliente_producto }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.cliente_producto.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.cliente_list.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cliente_list.auto_id }}">
                            {{ form.cliente_list.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cliente_list }}
                                {% include 'base.form.errors.html' with form_errors=form.cliente_list.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.ubicacion_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.ubicacion_cliente.auto_id }}">
                            {{ form.ubicacion_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.ubicacion_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.ubicacion_cliente.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.rif.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.rif.auto_id }}">
                            {{ form.rif.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.rif }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.rif.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.nombre_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_cliente.auto_id }}">
                            {{ form.nombre_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.nombre_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.nombre_cliente.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.precio_venta_bs.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.precio_venta_bs.auto_id }}">
                            {{ form.precio_venta_bs.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.precio_venta_bs }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.precio_venta_bs.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.precio_venta_usd.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.precio_venta_usd.auto_id }}">
                            {{ form.precio_venta_usd.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.precio_venta_usd }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.precio_venta_usd.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.tipo_cambio.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_cambio.auto_id }}">
                            {{ form.tipo_cambio.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.tipo_cambio }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.tipo_cambio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-12"><br>
                    <span style="color: blue;">
                        <b>{% trans 'Nota:' %}</b>
                        {% trans 'Seleccione una de las opciones en unidad de medida, en caso de seleccionar' %}
                        {% trans 'UNIDAD DE VENTA AL DETAL, tenga en cuenta que se refiere a la venta al detal.'%}<br>
                        {% trans 'Ejemplo: 1 celular, 1 carro, 1 paquete de gas, etc.'%}
                    </span>
                </div>
            </div><br>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_vendida.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_vendida.auto_id }}">
                            {{ form.cantidad_vendida.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_vendida }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.cantidad_vendida.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.unidad_de_medida_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.unidad_de_medida_cliente.auto_id }}">
                            {{ form.unidad_de_medida_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.unidad_de_medida_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% include 'base.form.errors.html' with form_errors=form.unidad_de_medida_cliente.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        {% include 'carga.masiva.template.html' with app='bienes_prod_comer' mod='FacturacionCliente' anho='2016' rel_id='3' %}
            
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>{% trans 'Lista de Clientes Cargados' %}</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">        
                <table class="table table-striped table-hover display dataTable" id="clientes_list">
                    <thead>
                        <tr>
                            <td>{% trans 'Producto' %}</td>
                            <td>{% trans 'Ubicación' %}</td>
                            <td>{% trans 'Nombre del Cliente' %}</td>
                            <td>{% trans 'RIF' %}</td>
                            <td>{% trans 'Cantidades Vendidas' %}</td>
                            <td>{% trans 'Unidad de Medida' %}</td>
                            <td>{% trans 'Precio de Venta(Bs)' %}</td>
                            <td>{% trans 'Precio de Venta(USD)' %}</td>
                            <td>{% trans 'Tipo de Cambio' %}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
            
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Guardar' %}</button>
            </div>
        </div>
    </form>
    </div>
{% endblock%}
{% block extra_footer %}
    <script type="text/javascript">
        $('#id_cliente_producto').change(function(){
            var attr = $(this).val();
            if (attr!='') {
                $.ajax({url:'/ajax/cliente-data',data:{'aplicacion':'bienes_prod_comer','model':'Produccion',
                       'argument':attr,'field':'producto_id','value':'cantidad_clientes'},type:'get',
                    success:function(data){
                        data = JSON.parse(data);
                        var contar = contar_modelo('bienes_prod_comer','FacturacionCliente',attr,'produccion__producto_id');
                        if (parseInt(contar)<parseInt(data.model)) {
                            $('#nota').text('');    
                            $('#id_cliente_list').val("Cliente # "+(contar+1));
                            $('#nota').text('Faltan '+(parseInt(data.model)-parseInt(contar))+' cliente(s)');
                        }
                        else{
                            $('#nota').text("No debe ingresar más clientes");
                        }
                    },
                    error:function(error)
                    {
                        console.log(error);
                    },
                });
            }
        });
        $('#id_ubicacion_cliente').change(function(){
            if($('#id_ubicacion_cliente option:selected').text()=="Venezuela")
            {
                $('#id_rif_0').removeAttr('readonly');
                $('#id_rif_1').removeAttr('readonly');
                $('#id_rif_2').removeAttr('readonly');
            }
            else
            {
                $('#id_rif_0').attr('readonly',true);
                $('#id_rif_1').attr('readonly',true);
                $('#id_rif_2').attr('readonly',true);
            }
        });      
        
        $(document).ready(function(){
            if($('#id_subunidad').val()!='')
            {
                before_init_datatable("bienes_list","{% url 'produccion_data' %}","subunidad_id",$('#id_subunidad').val());
            }
            if($('#id_cliente_producto').val()!='')
            {
                before_init_datatable("clientes_list","{% url 'clientes_data' %}","producto_id",$('#id_cliente_producto').val());
            }
            if ($('#id_anho_registro').val()=='') {
              $('#id_anho_registro').val($('#id_anho').val()).change()
            }
            /** Función a ser agregada en el evento onchange del rif para la verificación de los datos en el SENIAT */
            var onchange = "validar_rif_seniat('{{ form.rif.auto_id }}', '{{ form.nombre_cliente.auto_id }}', true)";
            for (i=0; i<=2; i++) {
                $("#{{ form.rif.auto_id }}_"+i).attr("onchange", onchange);
            }
            /**     Se válida el rif del usuario    */
            $('#id_rif_2').blur(function(){
                duplicate_rif("#id_rif","#id_nombre_cliente");
                });
            $('.fileinput-upload-button').click(function(event){
                event.preventDefault();
                var models = '';
                var acccion = $(this).parent().parent().parent().parent().parent().find('button').attr('onclick');
                var nombre = acccion.split(',')[1];
                nombre = nombre.replace(/\'/g,'');
                if (nombre=='Produccion') {
                    models = '?app=bienes_prod_comer&mod=Produccion&anho=2016&father_id=3&rel_app=bienes_prod_comer&rel_mod=Producto';
                    var file = $('#carga_masiva-Produccion')[0];
                }
                else if (nombre=='FacturacionCliente') {
                    var models = '?app=bienes_prod_comer&mod=FacturacionCliente&anho=2016&father_id=3&rel_app=base&rel_mod=Cliente';
                    var file = $('#carga_masiva-FacturacionCliente')[0];
                }
                var fdata = new FormData();
                fdata.append('file',file.files[0]);
                fdata.append('csrfmiddlewaretoken','{{ csrf_token }}');
                $.ajax({
                    url: URL_CARGAR_ARCHIVO_CM+models,
                    data: fdata,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function(data){
                        console.log(data);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });    
        });
    </script>
{% endblock %}