{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content_header_title %}{% trans 'Registro' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'bienes_generales_create' %}">{% trans 'Bienes Producidos y Comercializados' %}</a></li>
    <li class="active">{% block active_link %}{% trans 'Pag. actual' %}{% endblock %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-primary box-registro-general" style="padding:20px">
        
        <div class="box-header with-border">
            <h1 class="box-title">{% trans 'Bienes Producidos y Comercializados'%}</h1>
        </div>
        
        <form action="{% url 'bienes_registro_create' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.subunidad.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.subunidad.auto_id }}">
                            {{ form.subunidad.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.subunidad }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.subunidad.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.subunidad.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.nombre_producto.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_producto.auto_id }}">
                            {{ form.nombre_producto.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.nombre_producto }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.nombre_producto.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.nombre_producto.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.especificacion_tecnica.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.especificacion_tecnica.auto_id }}">
                            {{ form.especificacion_tecnica.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.especificacion_tecnica }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.especificacion_tecnica.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.especificacion_tecnica.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.marca.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.marca.auto_id }}">
                            {{ form.marca.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.marca }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.marca.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.marca.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_clientes.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_clientes.auto_id }}">
                            {{ form.cantidad_clientes.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_clientes }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.cantidad_clientes.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.cantidad_clientes.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_insumos.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_insumos.auto_id }}">
                            {{ form.cantidad_insumos.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_insumos }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.cantidad_insumos.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.cantidad_insumos.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12"><br>
                    <span style="color: blue;">
                        <b>{% trans 'Nota:' %}</b>
                        {% trans 'Seleccione una de las opciones en unidad de medida, en caso de seleccionar' %}
                        {% trans 'UNIDAD DE VENTA AL DETAL, tenga en cuenta que se refiere a la venta al detal.'%}<br>
                        {% trans 'Ejemplo: 1 celular, 1 carro, 1 paquete de gas, etc.'%}
                    </span>
                </div>
            </div><br>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_produccion.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_produccion.auto_id }}">
                            {{ form.cantidad_produccion.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_produccion }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.cantidad_produccion.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.cantidad_produccion.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.unidad_de_medida.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.unidad_de_medida.auto_id }}">
                            {{ form.unidad_de_medida.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.unidad_de_medida }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.unidad_de_medida.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.unidad_de_medida.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group {% if form.caev.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.caev.auto_id }}">
                            {{ form.caev.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.caev }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.caev.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.caev.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Guardar' %}</button>
            </div>
        </div>
        </form>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>{% trans 'Lista de Productos Cargados' %}</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">        
                <table class="table table-striped table-hover display dataTable" id="bienes_list">
                    <thead>
                        <tr>
                            <td>{% trans 'Producto' %}</td>
                            <td>{% trans 'Especificación Técnica' %}</td>
                            <td>{% trans 'Marca' %}</td>
                            <td>{% trans 'Código CAEV' %}</td>
                            <td>{% trans '# de Clientes' %}</td>
                            <td>{% trans '# de Insumos' %}</td>
                            <td>{% trans 'Unidades Producidas' %}</td>
                            <td>{% trans 'Unidad de medida' %}</td>
                            <td>{% trans 'Opciones' %}</td>
                        </tr>
                    </thead>
                    {% if producto_list %}
                        <tbody>
                        {% for key,value in producto_list.items %}
                            <tr>                                    
                                <td>{{ value.nombre_producto | safe }}</td>
                                <td>{{value.especificacion_tecnica | safe }}</td>
                                <td>{{value.marca | safe }}</td>
                                <td>{{value.caev | safe }}</td>
                                <td>{{value.clientes | safe }}</td>
                                <td>{{value.insumos | safe }}</td>
                                <td>{{value.cantidad | safe }}</td>
                                <td>{{value.unidad_medida | safe }}</td>
                                <td>
                                    <a class="update_item" style="cursor: pointer"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a class="remove_item" style="cursor: pointer"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>

    <form action="{% url 'cliente_registro_create' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
    {% csrf_token %}
        <div class="box-header with-border">
            <h1 class="box-title">{% trans 'Clientes'%}</h1>
        </div>
        
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cliente_producto.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cliente_producto.auto_id }}">
                            {{ form.cliente_producto.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cliente_producto }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.cliente_producto.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.cliente_producto.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.cliente_list.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cliente_list.auto_id }}">
                            {{ form.cliente_list.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cliente_list }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.cliente_list.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.cliente_list.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.ubicacion_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.ubicacion_cliente.auto_id }}">
                            {{ form.ubicacion_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.ubicacion_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.ubicacion_cliente.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.ubicacion_cliente.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.rif.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.rif.auto_id }}">
                            {{ form.rif.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.rif }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.rif.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.rif.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.nombre_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_cliente.auto_id }}">
                            {{ form.nombre_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.nombre_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.nombre_cliente.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.nombre_cliente.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.precio_venta.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.precio_venta.auto_id }}">
                            {{ form.precio_venta.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.precio_venta }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.precio_venta.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.precio_venta.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.tipo_cambio.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_cambio.auto_id }}">
                            {{ form.tipo_cambio.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.tipo_cambio }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.tipo_cambio.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.tipo_cambio.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-12"><br>
                    <span style="color: blue;">
                        <b>{% trans 'Nota:' %}</b>
                        {% trans 'Seleccione una de las opciones en unidad de medida, en caso de seleccionar' %}
                        {% trans 'UNIDAD DE VENTA AL DETAL, tenga en cuenta que se refiere a la venta al detal.'%}<br>
                        {% trans 'Ejemplo: 1 celular, 1 carro, 1 paquete de gas, etc.'%}
                    </span>
                </div>
            </div><br>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.cantidad_vendida.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cantidad_vendida.auto_id }}">
                            {{ form.cantidad_vendida.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.cantidad_vendida }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.cantidad_vendida.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.cantidad_vendida.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.unidad_de_medida_cliente.errors %}has-error{% endif %}">
                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.unidad_de_medida_cliente.auto_id }}">
                            {{ form.unidad_de_medida_cliente.label }}
                        </label>
                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="form-inline">
                                {{ form.unidad_de_medida_cliente }}<i class="ion ion-ios-medical item-requerido"></i>
                                {% if form.unidad_de_medida_cliente.errors %}
                                    <p class="bg-warning">
                                        <span class="help-block msg-error">
                                            <i class="fa fa-times-circle-o"></i> {{ form.unidad_de_medida_cliente.errors.as_text|cut:'* ' }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            
                    <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>{% trans 'Lista de Clientes Cargados' %}</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">        
                <table class="table table-striped table-hover display dataTable" id="clientes_list">
                    <thead>
                        <tr>
                            <td>{% trans 'Producto' %}</td>
                            <td>{% trans 'Ubicación' %}</td>
                            <td>{% trans 'Nombre del Cliente' %}</td>
                            <td>{% trans 'RIF' %}</td>
                            <td>{% trans 'Tipo de Cambio' %}</td>
                            <td>{% trans 'Cantidades Vendidas' %}</td>
                            <td>{% trans 'Unidad de Medida' %}</td>
                            <td>{% trans 'Opciones' %}</td>
                        </tr>
                    </thead>
                    {% if first_table %}
                        <tbody>
                        {% for value in first_table %}
                            <tr>
                            {% for item in value %}                                       
                                <td>{{item | safe }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
            
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-sm">{% trans 'Guardar' %}</button>
            </div>
        </div>
    </form>
    </div>
{% endblock%}
{% block extra_footer %}
    <script type="text/javascript">
        $('#id_cliente_producto').change(function(){
            var attr = $(this).val();
            $.ajax({url:'/ajax/cliente-data',data:{'aplicacion':'bienes_prod_comer','model':'Produccion','argument':attr,'value':'cantidad_clientes'},type:'get',
                success:function(data){
                    data = JSON.parse(data)
                    $('#id_cliente_list').html('');
                    $('#id_cliente_list').append($('<option>', {value: '',text: 'Seleccione...'}));
                    for(var i=1;i<=data.model;i++)
                    {
                        $('#id_cliente_list').append($('<option>', {
                            value: i,
                            text: 'Cliente '+i
                        }));
                    }
                },
                error:function(error)
                {
                    console.log(error);
                },
            });
        });
        $('#id_ubicacion_cliente').change(function(){
            if($('#id_ubicacion_cliente option:selected').text()=="Venezuela")
            {
                $('#id_rif_0').removeAttr('readonly');
                $('#id_rif_1').removeAttr('readonly');
                $('#id_rif_2').removeAttr('readonly');
            }
            else
            {
                $('#id_rif_0').attr('readonly',true);
                $('#id_rif_1').attr('readonly',true);
                $('#id_rif_2').attr('readonly',true);
            }
        });
    </script>
{% endblock %}