{% load i18n %}
<div class="row">
    <div class="col-xs-6 col-md-6 col-sm-6">
        <h4>{% trans 'Dirección Fiscal' %}</h4>
        <hr>
    </div>
    <div class="col-xs-6 col-md-6 col-sm-6 text-right">
        <a href="directorio.list.html"></a>
        <button type="button" name="directorio_add" id="directorio_add" class="btn btn-primary btn-sm"
                onclick="listado_directorio('{% trans 'Directorio' %}', $('#list-directorio').html())">
            {% trans 'Directorio' %}<i class="ionicon ion-search" style="padding-left: 10px;"></i>
        </button>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.tipo_vialidad.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_vialidad.auto_id }}">
                {{ form.nombre_vialidad.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8 radio-inline">
                {{ form.tipo_vialidad }}
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"><i class="ion ion-ios-medical item-requerido-nomargin"></i></div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-3">
                {% include 'base.form.errors.html' with form_errors=form.tipo_vialidad.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
        <div class="form-group has-feedback {% if form.nombre_vialidad.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_vialidad.auto_id }}">&#160;</label>
            <div class="col-md-8 col-xs-8 col-sm-8">{{ form.nombre_vialidad }}</div>
            <div class="col-md-1 col-xs-1 col-sm-1 invisible">
                <i class="ion ion-ios-medical item-requerido-nomargin"></i>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-3">
                {% include 'base.form.errors.html' with form_errors=form.nombre_vialidad.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.tipo_edificacion.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_edificacion.auto_id }}">
                {{ form.descripcion_edificacion.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8 radio-inline">{{ form.tipo_edificacion }}</div>
            <div class="col-md-1 col-xs-1 col-sm-1"><i class="ion ion-ios-medical item-requerido-nomargin"></i></div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-3">
                {% include 'base.form.errors.html' with form_errors=form.tipo_edificacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
        <div class="form-group has-feedback {% if form.descripcion_edificacion.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.descripcion_edificacion.auto_id }}">&#160;</label>
            <div class="col-md-8 col-xs-8 col-sm-8">{{ form.descripcion_edificacion }}</div>
            <div class="col-md-1 col-xs-1 col-sm-1 invisible">
                <i class="ion ion-ios-medical item-requerido-nomargin"></i>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-3">
                {% include 'base.form.errors.html' with form_errors=form.descripcion_edificacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.tipo_subedificacion.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_subedificacion.auto_id }}">
                {{ form.descripcion_subedificacion.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8 radio-inline">{{ form.tipo_subedificacion }}</div>
            <div class="col-md-1 col-sm-1 col-xs-1"><i class="ion ion-ios-medical item-requerido-nomargin"></i></div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-3">
                {% include 'base.form.errors.html' with form_errors=form.tipo_subedificacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
        <div class="form-group has-feedback {% if form.descripcion_subedificacion.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.descripcion_subedificacion.auto_id }}">&#160;</label>
            <div class="col-md-8 col-xs-8 col-sm-8">{{ form.descripcion_subedificacion }}</div>
            <div class="col-md-1 col-xs-1 col-sm-1 invisible">
                <i class="ion ion-ios-medical item-requerido-nomargin"></i>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-3">
                {% include 'base.form.errors.html' with form_errors=form.descripcion_subedificacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.tipo_zonificacion.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_zonificacion.auto_id }}">
                {{ form.nombre_zona.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8 radio-inline">{{ form.tipo_zonificacion }}</div>
            <div class="col-md-1 col-sm-1 col-xs-1"><i class="ion ion-ios-medical item-requerido-nomargin"></i></div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-3">
                {% include 'base.form.errors.html' with form_errors=form.tipo_zonificacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
        <div class="form-group has-feedback {% if form.nombre_zona.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_zona.auto_id }}">&#160;</label>
            <div class="col-md-8 col-xs-8 col-sm-8">{{ form.nombre_zona }}</div>
            <div class="col-md-1 col-xs-1 col-sm-1 invisible">
                <i class="ion ion-ios-medical item-requerido-nomargin"></i>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-md-offset-3">
                {% include 'base.form.errors.html' with form_errors=form.nombre_zona.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.estado.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.estado.auto_id }}">
                {{ form.estado.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.estado }}
                {% include 'base.form.errors.html' with form_errors=form.estado.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1">
                <i class="ion ion-ios-medical item-requerido-nomargin"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.municipio.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.municipio.auto_id }}">
                {{ form.municipio.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.municipio }}
                {% include 'base.form.errors.html' with form_errors=form.municipio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1">
                <i class="ion ion-ios-medical item-requerido-nomargin"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.parroquia.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.parroquia.auto_id }}">
                {{ form.parroquia.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.parroquia }}
                {% include 'base.form.errors.html' with form_errors=form.parroquia.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1">
                <i class="ion ion-ios-medical item-requerido-nomargin"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.tipo_coordenada.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_coordenada.auto_id }}">
                {{ form.tipo_coordenada.label }}
            </label>
            <div class="col-md-9 col-xs-9 col-sm-9 form-inline">
                {{ form.tipo_coordenada }}
                {% include 'base.form.errors.html' with form_errors=form.tipo_coordenada.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group has-feedback {% if form.coordenada.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.coordenada.auto_id }}">
                {{ form.coordenada.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8 form-inline">
                {{ form.coordenada }}
                {% include 'base.form.errors.html' with form_errors=form.coordenada.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1">
                <i class="ionicon ion-plus-circled btn-icon" data-toggle="tooltip"
                       title="{% trans 'Presione el botón para seleccionar su ubicación' %}"
                       onclick="seleccionar_coordenadas('{% trans 'Seleccionar Coordenadas' %}',$('#sel-coordenada').html())"></i>
            </div>
        </div>
    </div>
</div>