<!DOCTYPE html>
{% load static from staticfiles %}
{% load i18n %}
<html lang="es">
	{% include 'base.head.template.html' %}
	<body class="hold-transition skin-blue-dark sidebar-mini">
		<div class="wrapper">
			{% include 'base.navbar.template.html' %}
			{% if request.user.is_authenticated %}
				{% include 'base.menu.left.side.html' %}
			{% endif %}
			<!-- Content Wrapper. Contains page content -->
      		<div class="content-wrapper" {% if not request.user.is_authenticated %}style="margin-left: 0;"{% endif %}>

				{% if request.user.is_authenticated %}
					<!-- header del contenido -->
					<section class="content-header">
						<h1>{% block content_header_title %}{% trans 'Sede administrativa' %}{% endblock %}</h1>
						<ol class="breadcrumb">
                            {% block content_header_roadmap %}
                                <li><a href="#">{% trans 'sede adminitrativa' %}</a></li>
                                <li class="active">{% block active_link %}{% trans 'Pag. actual' %}{% endblock %}</li>
                            {% endblock %}
						</ol>
					</section>
				{% endif %}
        <section class="content" style="padding:auto 0;">
					<div class="row">
                {% block contenido %}
                      <div class="box box-primary box-registro-general">
                          <div class="box-header with-border" align="center">
                              <h3 class="box-title">{% trans 'Registro Sedes administrativas' %}</h3>
                          </div>
                      <div class="box-body">
                        <form action="" autocomplete="off" method="post">
                          <h5 class="titulo">{% trans 'Bienvenido' %}, {{ request.user }}</h5>
                            <div class="col-md-2"></div>
                            		<div class="col-md-4">
																	<div class="col-md-4">
																			 <div class="form-group">{{form.nombre_sede}}</div>
																			 <div class="form-group">{{form.nombre_carretera}}</div>
																			 <div class="form-group">{{form.tipo_edificacion}}</div>
																			 <div class="form-group">{{form.nombre_edificacion}}</div>
																			 <div class="form-group">{{form.nombre_sector}}</div>
																			 <div class="form-group">{{form.estado.label}}{{form.estado}}</div>
																			 <div class="form-group">{{form.municipio.label}}{{form.municipio}}</div>
																			 <div class="form-group">{{form.parroquia.label}}{{form.parroquia}}</div>
																	</div>
                            			   <div class="form-group">
                                       {{form.nombre_sede}}
                                     </div>
                            				 <div class="form-group">
                                       {{form.nombre_carretera}}
                                     </div>
                                     <div class="form-group">
                                       {{form.tipo_edificacion}}
                                      </div>
                            					<div class="form-group">
                                       {{form.nombre_edificacion}}
                                      </div>
                            					<div class="form-group">
                                       {{form.nombre_sector}}
                                      </div>
                                      <div class="form-group">
                                       {{form.estado.label}}{{form.estado}}
                                      </div>
                                      <div class="form-group">
                                       {{form.municipio.label}}{{form.municipio}}
                                      </div>
                                      <div class="form-group">
                                       {{form.parroquia.label}}{{form.parroquia}}
                                      </div>
                                  </div>
                            			<div class="col-md-4">
                                            <div class="form-group">
                                                {{form.tipo_carretera}}
                                            </div>
                                            <div class="form-group">{{form.}}</div>
                                            <div class="form-group">{{form.}}</div>
                                            <div class="form-group">{{form.}}</div>
                                            <div class="form-group">{{form.}}</div>
                                            <div class="form-group">{{form.}}</div>
                                						<div class="form-group">
                                              {{form.consumo_electrico.label}}
                                              {{form.consumo_electrico}}</div>

                                            <div class="form-group">
                                              <div class="input-group">
                                						        <div class="input-group-addon">m²</div>
                                                    {{form.autonomia_electrica}}
                                						  </div>
                                            </div>
                                   </div>
                                   <div class="col-md-2"></div>
                                 </form>
                        </div>
                      </div>

                                <div class="box-footer text-right"><button type="button" class="btn btn-primary btn-sm">{% trans 'Comenzar' %}</button></div>
              </div>
                        {% endblock %}
	      			</div>
				</section>

      		</div>
		</div>
		{% include 'base.footer.info.template.html' %}
		{% include 'base.footer.template.html' %}
		{% block extra_footer %}{% endblock %}
        {% include 'base.loading.message.html' %}
	</body>
</html>
