{% load i18n %}
<div class="box-header with-border">
    <h4 class="box-title">{% trans 'Accionistas de la Unidad Económica'%}</h4>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4 control-label" for="{{ form.rif_accionista_orig.auto_id }}">
                {{ form.rif_accionista_orig.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.rif_accionista_orig }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4 control-label" for="{{ form.nombre.auto_id }}">
                {{ form.nombre.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.nombre }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4 control-label" for="{{ form.pais_origen.auto_id }}">
                {{ form.pais_origen.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.pais_origen }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="col-md-4 col-xs-4 col-sm-4 control-label" for="{{ form.porcentaje.auto_id }}">
                {{ form.porcentaje.label }}
            </label>
            <div class="col-md-8 col-xs-8 col-sm-8">
                {{ form.porcentaje }}
            </div>
        </div>
    </div>
</div>