{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block contenido %}
    <h4 class="titulo">{% trans "Información Mercantil"%}</h4>
    <form action="{% url 'informacion_mercantil' %}" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
            <div class="box box-primary box-registro" style="padding:20px">
                <div class="box-header with-border">
                    <div class="box-body">
                        <h4 class="titulo">{% trans 'Distribución del Capital' %}</h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.naturaleza_juridica.auto_id }}">
                                        {{ form.naturaleza_juridica.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                           {{ form.naturaleza_juridica }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.naturaleza_juridica_otros.auto_id }}">
                                    {{ form.naturaleza_juridica_otros.label }}
                                    </label>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.naturaleza_juridica_otros }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-md-6 col-xs-6 col-sm-6 control-label" >{{ form.capital_suscrito.label }}</label>
                                <div class="col-md-5 col-xs-5 col-sm-5">{{ form.capital_suscrito}}</div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-6 col-xs-6 col-sm-6 control-label"> {{ form.capital_pagado.label }}</label>
                                <div class="col-md-5 col-xs-5 col-sm-5">{{ form.capital_pagado}}</div>
                            </div>
                        </div>
                        </br>

                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="col-md-9 col-xs-9 col-sm-9 titulo">{% trans "Distribución Porcentual del capital suscrito" %} </h5>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-inline col-md-12">
                                <label class="col-md-2">{{form.publico_nacional.label}} </label>
                                    <div class="col-md-1"> {{ form.publico_nacional }}</div>
                                <label class="col-md-2"> {{form.publico_extranjero.label}}</label>
                                    <div class="col-md-1">{{form.publico_extranjero}}</div>
                                <label class="col-md-2">{{form.privado_nacional.label}}</label>
                                    <div class="col-md-1">{{form.privado_nacional}}</div>
                                <label class="col-md-2">{{form.privado_extranjero.label}}</label>
                                    <div class="col-md-1"> {{form.privado_extranjero}}</div>
                            </div>
                        </div>

                        <h4 class="titulo">{% trans "Composición Accionaria" %} </h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.rif_accionista.auto_id }}">
                                        {{ form.rif_accionista.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.rif_accionista }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre.auto_id }}">
                                    {{ form.nombre.label }}
                                    </label>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.nombre }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.pais_origen.auto_id }}">
                                        {{ form.pais_origen.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.pais_origen }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.porcentaje.auto_id }}">
                                    {{ form.porcentaje.label }}
                                    </label>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.porcentaje }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class=" text-center">
                            <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">Limpiar</button>
                            <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">Guardar</button>
                            <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">Agregar otro</button>
                        </div>

                        <h4 class="titulo">{% trans "Representante Legal" %} </h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cedula_representante.auto_id }}">
                                    {{ form.cedula_representante.label }}
                                    </label>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.cedula_representante }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_representante.auto_id }}">
                                    {{ form.nombre_representante.label }}
                                    </label>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.nombre_represetante }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.apellido_representante.auto_id }}">
                                    {{ form.apellido_representante.label }}
                                    </label>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.apellido_representante }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.correo_electronico.auto_id }}">
                                    {{ form.correo_electronico.label }}
                                    </label>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.correo_electronico }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.telefono.auto_id }}">
                                    {{ form.telefono.label }}
                                    </label>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.telefono }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" >{{ form.cargo.label }}</label>
                                <div class="col-md-5 col-xs-5 col-sm-5">{{ form.cargo}}</div>
                            </div>
                        </div>

                            <div class=" text-right">
                                <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">Limpiar</button>
                                <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">Siguiente</button>
                            </div>
                        </div>
                    </div>
              </div>
        </div>
    </form>
 {%endblock%}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            /** Funcion a ser agregada en el evento onchange del rif para la verificacion de los datos en el SENIAT */
            var onchange = "validar_rif_seniat('{{ form.rif_accionista.auto_id }}', '{{ form.nombre.auto_id }}', true)";
            for (i=0; i<=2; i++) {
                $("#{{ form.rif_accionista.auto_id }}_"+i).attr("onchange", onchange);
            }
        });
    </script>
{% endblock %}