{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block contenido %}
    <h4 class="titulo" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% trans "Información Mercantil"%}</h4>
    <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}
            <div class="box box-primary box-registro" style="padding:20px">
                <div class="box-header with-border">
                    <div class="box-body">
                        <h4 class="titulo">{% trans 'Distribución del Capital' %}</h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.naturaleza_juridica.errors %}has-error{% endif %}">
                                    <div class="form-inline ">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.naturaleza_juridica.auto_id }}">
                                        {{ form.naturaleza_juridica.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                           {{ form.naturaleza_juridica }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.naturaleza_juridica.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.naturaleza_juridica.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-inline">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.naturaleza_juridica_otros.auto_id }}">
                                    {{ form.naturaleza_juridica_otros.label }}
                                    </label>
                                </div>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.naturaleza_juridica_otros }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.capital_suscrito.errors %} has-error{% endif %}">
                                    <div class="form-inline ">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.capital_suscrito.auto_id }}">
                                        {{ form.capital_suscrito.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                           {{ form.capital_suscrito }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.capital_suscrito.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.capital_suscrito.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {% if form_pagado.errors %}has-error{% endif %}">
                                    <div class="form-inline ">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.capital_pagado.auto_id }}">
                                        {{ form.capital_pagado.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6">
                                        <div class="form-inline">
                                           {{ form.capital_pagado }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.capital_pagado.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.capital_pagado.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="col-md-9 col-xs-9 col-sm-9 titulo">{% trans "Distribución Porcentual del capital suscrito" %} </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-inline col-md-12">
                                <label class="col-md-2">{{form.publico_nacional.label}} </label>
                                    <div class="col-md-1"> {{ form.publico_nacional }}</div>
                                <label class="col-md-2"> {{form.publico_extranjero.label}}</label>
                                    <div class="col-md-1">{{form.publico_extranjero}}</div>
                                <label class="col-md-2">{{form.privado_nacional.label}}</label>
                                    <div class="col-md-1">{{form.privado_nacional}}</div>
                                <label class="col-md-2">{{form.privado_extranjero.label}}</label>
                                    <div class="col-md-1"> {{form.privado_extranjero}}</div>
                            </div>
                        </div>
                        <h4 class="titulo">{% trans "Composición Accionaria" %} </h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.rif_accionista.errors %}has-error{% endif %}">
                                    <div class="form-inline">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.rif_accionista.auto_id }}">
                                        {{ form.rif_accionista.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.rif_accionista }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.rif_accionista.errors %}
                                        <p class="bg-warning">
                                            <span class="help-block msg-error">
                                                <i class="fa fa-times-circle-o"></i> {{ form.rif_accionista.errors.as_text|cut:'* ' }}
                                            </span>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre.auto_id }}">
                                    {{ form.nombre.label }}
                                    </label>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.nombre }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.pais_origen.errors %}has-error{% endif %}">
                                    <div class="form-inline">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.pais_origen.auto_id }}">
                                        {{ form.pais_origen.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.pais_origen }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.pais_origen.errors %}
                                        <p class="bg-warning">
                                            <span class="help-block msg-error">
                                                <i class="fa fa-times-circle-o"></i> {{ form.pais_origen.errors.as_text|cut:'* ' }}
                                            </span>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group {% if form.porcentaje.errors %}has-error{% endif %} ">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.porcentaje.auto_id }}">
                                    {{ form.porcentaje.label }}
                                    </label>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.porcentaje }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.porcentaje.errors %}
                                        <p class="bg-warning">
                                            <span class="help-block msg-error">
                                                <i class="fa fa-times-circle-o"></i> {{ form.porcentaje.errors.as_text|cut:'* ' }}
                                            </span>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class=" text-center">
                            <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">Limpiar</button>
                            <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">Guardar</button>
                            <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">Agregar otro</button>
                        </div>
                        </br>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-striped table-hover display">
                                    <thead>
                                        <tr>
                                            <td>RIF</td>
                                            <td>Nombre de Accionista</td>
                                            <td>País de Origen</td>
                                            <td>Porcentaje de Acciones</td>
                                            <td>acciones</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>{% trans 'dfgfd' %}</td>
                                                <td>{{ nombre }}</td>
                                                <td>{% trans 'dfgfd' %}</td>
                                                <td>{% trans 'dfgfd' %}</td>
                                                <td><i class="glyphicnombreon glyphicon-pencil"></i><i class="glyphicon glyphicon-remove"></i></td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <h4 class="titulo">{% trans "Representante Legal" %} </h4>
                        <hr/>
                        <div class="row">
                            <div class="form-group {% if form.cedula_representante.errors %}has-error{% endif %}">
                                <div class="col-md-6">
                                    <div class="form-inline">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cedula_representante.auto_id }}">
                                            {{ form.cedula_representante.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">{{ form.cedula_representante }}
                                            <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.cedula_representante.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.cedula_representante.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group {% if form.nombre_representante.errors %}has-error{% endif %}">
                                <div class="col-md-6 ">
                                    <div class="form-inline ">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre_representante.auto_id }}">
                                        {{ form.nombre_representante.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">{{ form.nombre_representante }}
                                            <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.nombre_representante.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.nombre_representante.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-inline ">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.apellido_representante.auto_id }}">
                                        {{ form.apellido_representante.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">{{ form.apellido_representante }}
                                            <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.apellido_representante.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.apellido_representante.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="form-group {% if form.correo_electronico.errors %}has-error{% endif %}">
                                <div class="col-md-6">
                                    <div class="form-inline ">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.correo_electronico.auto_id }}">
                                        {{ form.correo_electronico.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.correo_electronico }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.correo_electronico.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.correo_electronico.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-inline">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.telefono.auto_id }}">
                                        {{ form.telefono.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.telefono }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.telefono.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.telefono.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group {% if form.cargo.errors %}has-error{% endif %}">
                                    <div class="form-inline">
                                        <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cargo.auto_id }}">
                                        {{ form.cargo.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                           {{ form.cargo }} <i class="ion ion-ios-medical item-requerido"></i>
                                        </div>
                                        {% if form.cargo.errors %}
                                            <p class="bg-warning">
                                                <span class="help-block msg-error">
                                                    <i class="fa fa-times-circle-o"></i> {{ form.cargo.errors.as_text|cut:'* ' }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" >{{ form.cargo_otros.label }}</label>
                                <div class="col-md-5 col-xs-5 col-sm-5">{{ form.cargo_otros}}</div>
                            </div>
                        </div>
                        </br>
                        <div class=" text-right">
                            <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">Limpiar</button>
                            <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">Siguiente</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
{%endblock%}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            /** Funcion a ser agregada en el evento onchange del rif para la verificacion de los datos en el SENIAT */
            var onchange = "validar_rif_seniat('{{ form.rif_accionista.auto_id }}', '{{ form.nombre.auto_id }}', true)";
            for (i=0; i<=2; i++) {
                $("#{{ form.rif_accionista.auto_id }}_"+i).attr("onchange", onchange);
            }
        });
    </script>
{% endblock %}